footer
  .container
    .hcards
      div
        h1 Keyoxide
        a(href="/") Homepage
        br
        a(href="/privacy") Privacy policy

      div
        h1 Keyoxide project
        a(href="https://keyoxide.org") Keyoxide.org
        br
        a(href="https://blog.keyoxide.org") Keyoxide blog
        br
        a(href="https://docs.keyoxide.org") Keyoxide docs
        br
        a(href="https://fosstodon.org/@keyoxide") Keyoxide on Fediverse
        br
        a(href="https://keytoidentity.foundation") Key to Identity Foundation

      div
        h1 Development
        a(href="https://codeberg.org/keyoxide/") Source code
        br
        a(href="https://drone.keyoxide.org/keyoxide/web") CI/CD
        br
        a(href="https://js.doip.rocks") doip.js

    p.copyright &copy; 2021 Keyoxide project contributors
