footer
  .container
    .hcards
      div
        h1 keyoxide.org
        a(href="/") Homepage
        br
        a(href="/about") About Keyoxide
        br
        a(href="/getting-started") Getting started
        br
        a(href="/guides") Guides
        br
        a(href="/faq") FAQ
        br
        a(href="/privacy") Privacy policy

      div
        h1 Keyoxide project
        a(href="https://keyoxide.org") Keyoxide.org
        br
        a(href="https://fosstodon.org/@keyoxide") Keyoxide on Fediverse
        br
        a(href="https://keytoidentity.foundation") Key to Identity Foundation

      div
        h1 Development
        a(href="/") Source code
        br
        a(href="/") CI/CD
        br
        a(href="/") doip.js

    p.copyright &copy; 2021 Keyoxide project contributors
