footer
  .container
    .hcards
      div
        h1 keyoxide.org
        a(href="/") Homepage
        br
        a(href="/") What is Keyoxide?
        br
        a(href="/") Getting started
        br
        a(href="/") Guides
        br
        a(href="/") FAQ
      
      div
        h1 Keyoxide project
        a(href="/") Keyoxide.org
        br
        a(href="/") Keyoxide on Fediverse
        br
        a(href="/") Key to Identity Foundation
      
      div
        h1 Development
        a(href="/") Source code
        br
        a(href="/") CI/CD
        br
        a(href="/") doip.js

    p.copyright &copy; 2021 Keyoxide project contributors
