footer
  .container
    .hcards
      div
        h1 Keyoxide
        a(href="/") Homepage
        br
        a(href="/util") Utilities
        br
        a(href="/privacy") Privacy policy

      div
        h1 Keyoxide project
        a(href="https://keyoxide.org") Keyoxide.org
        br
        a(href="https://community.keyoxide.org") Community forum
        br
        a(href="https://docs.keyoxide.org") Documentation
        br
        a(href="https://blog.keyoxide.org") Blog

      div
        h1 Development
        a(href="https://codeberg.org/keyoxide/") Source code
        br
        a(href="https://doip.rocks") doip.rocks
        br
        a(href="https://ariadne.id") ariadne.id

    p.copyright &copy; 2022 Keyoxide project contributors