footer
  .container
    p
      | This site: 
      a(href="/") Homepage
      |  • 
      a(href="/util") Utilities
      |  • 
      a(href="/privacy") Privacy policy
      br

      | Keyoxide project: 
      a(href="https://community.keyoxide.org") Forum
      |  • 
      a(href="https://docs.keyoxide.org") Documentation
      |  • 
      a(href="https://blog.keyoxide.org") Blog
      |  • 
      a(href="https://codeberg.org/keyoxide") Source code
      br

      | Related: 
      a(href="https://doip.rocks") doip.rocks
      |  • 
      a(href="https://ariadne.id") ariadne.id

    p
      | Version 
      a(href=meta.keyoxide.sourceUrl)= meta.keyoxide.semver
      br
      
      | &copy; 2020-2024 Keyoxide project contributors
      