header
  nav
    .spacer
    a.text(href='/') Home
    a.text(href='/getting-started') Getting started
  a.logo(href='/' aria-label='Home')
    img(src='/static/img/logo_circle.png' alt='Keyoxide' aria-hidden='true')
  nav
    a.text(href='/about') About
    a.text(href='/guides') Guides
    a.text(href='/faq' aria-label='Frequently asked questions') FAQ
    .spacer
