header
  .container
    nav
      a.logo(href='/' aria-label='Home')
        img(src='/static/img/logo_circle.png' alt='Keyoxide' aria-hidden='true')
      a.text(href='/') Home
      a.text(href='https://docs.keyoxide.org') Docs
      a.text(href='https://blog.keyoxide.org') Blog
      a.text(href='https://community.keyoxide.org') Forum
