header
  nav
    .spacer
    a.text(href='/' aria-label='Go to homepage') Home
    a.text(href='/getting-started' aria-label='Go to getting started guide') Getting started
  a.logo(href='/' aria-label='Go to homepage')
    img(src='/static/img/logo_circle.png' alt='Keyoxide' aria-hidden='true')
  nav
    a.text(href='/about' aria-label='Go to about page') About
    a.text(href='/guides' aria-label='Go to list of guides') Guides
    a.text(href='/faq' aria-label='Go to frequently asked questions') FAQ
    .spacer
