header
  .container
    nav
      a.logo(href='/' aria-label='Home') Keyoxide
      .links
        a.text(href='https://docs.keyoxide.org/getting-started') Getting started
        a.text(href='https://docs.keyoxide.org') Docs
        a.text(href='https://blog.keyoxide.org') Blog
