header
  nav
    .spacer
    a.text(href='/') About
    a.text(href='/getting-started') Getting started
  a.logo(href='/')
    img(src='/static/img/logo_circle.png' alt='Keyoxide')
  nav
    a.text(href='/guides') Guides
    a.text(href='/faq') FAQ
    .spacer
