extends ../templates/base.pug

block content
  section.narrow
    h1 QR Code
    form#form-util-qr(method='post')
      pre
        code#input.full-width !{input}
    canvas#qrcode
    a#qrcode--altLink(href='#') Press this link to directly open the URI
