extends ../templates/base.pug

block content
  section
    h1 Web Key Directory URL generator
    form#form-util-wkd(method='post')
      p
        | This tool computes the part of the WKD URL that corresponds to the username when 
        a(href='https://docs.keyoxide.org/web-key-directory') uploading keys using web key directory
        | .
      p
        | If you enter the entire WKD identifier (username@domain.org), this tool will also generate the complete URLs.
      p
        | Please note that Keyoxide does not add the "?l=…" when performing WKD requests. Make sure that the "l" parameter is optional when implementing WKD on your own server.
      h3 Input
      input#input(type='text' name='input' placeholder='WKD username or identifier' value=input)
      h3 Output
      h4 Local part
      pre
        code#output.full-width Waiting for input…
      h4 Direct URL
      pre
        code#output_url_direct.full-width Waiting for input…
      h4 Advanced URL
      pre
        code#output_url_advanced.full-width Waiting for input…
