extends template.base.pug

block content
  .content
    noscript
      p Keyoxide requires JavaScript to function.
      
    h1 Encrypt
    form#form-encrypt(method='post')
      h3 Recipient
      label(for='modeSelect') Mode: 
      include partials/key_selector
      
      h3 Message
      textarea#message(name='message')
      p#result
      input.bigBtn(type='submit' name='submit' value='ENCRYPT MESSAGE')
