extends templates/base.pug

block js
  //- script(type='application/javascript' src='/static/dialog-polyfill.js' charset='utf-8')
  script(type='application/javascript' src='/static/openpgp.min.js' charset='utf-8')
  script(type='application/javascript' src='/static/doip.js' charset='utf-8')
  script(type='application/javascript' src='/static/kx-claim.js' charset='utf-8')

block content
  .demo.narrow
    kx-claim(data-claim= demoData)

  if highlights.length > 0
    h2 Highlights
    .hcards.hcards--highlights
      each hl in highlights
        .card.card--small-profile
          p.name= hl.name
          p
            span.fingerprint= hl.fingerprint
            br
            span.details= hl.description
          .spacer
          p
            a(href=`/${hl.fingerprint}`) View profile
      - var n = 0
      while n < 3-highlights.length
        .card.card--small-profile-dummy
        - n++

  h2 About Keyoxide
  .hcards.hcards--features.hcards--max-3
    .card
      h3 Online identity
      p Establish an identity by verifiably linking your online accounts.
    .card
      h3 Decentralized
      p No central server or database. Control how your data is stored and accessed.
    .card
      h3 Privacy
      p No data is collected. Your data is yours and yours only.
    .card
      h3 Cryptography
      p Your online identity verifiably signed with widely-used OpenPGP.
    .card
      h3 Open Source
      p All Keyoxide projects are licensed under AGPL-3.0-or-later.
    .card
      h3 Transparent funding
      p Funded by donations. Keyoxide stands against VC and surveillance capitalism.
