extends templates/base.pug

block content
  section#search.form-wrapper
    form(action="post")
      input#query(type="search" name="query" required placeholder="Search for a profile")
      input(type="submit" value="Search")

  section
    h2 About Keyoxide
    p Keyoxide is a decentralized tool to create and verify decentralized online identities.
    p Just like passports for real life identities, Keyoxide can be used to verify the online identity of people to make sure one is interacting with whom they intended to be and not an imposter.
    p Unlike real life passports, Keyoxide works with online identities or "personas", meaning these identities can be anonymous and one can have multiple separate personas to protect their privacy, both online and in real life.
    p
      | Here is what a 
      a(href="/project@keyoxide.org") Keyoxide profile
      |  looks like.
    p
      a(href="https://docs.keyoxide.org/getting-started") Get started
      |  and create your own!
  section
    h2 Community
    p
      | Discussion of the Keyoxide project primarily happens on the 
      a(href="https://matrix.to/#/#keyoxide:matrix.org") #keyoxide Matrix channel
      |  and the 
      a(href="https://community.keyoxide.org") Keyoxide Community Forum
      | . 
      | The Matrix channel is great for troubleshooting.
      | The forum is the place to propose new service providers for identity verification, make feature suggestions or report bugs.
    p 
      | There is also the 
      a(href="irc://irc.libera.chat/#keyoxide") #keyoxide:libera.chat IRC room
      |  and the 
      a(href="https://lists.sr.ht/~yarmo/keyoxide-devel") keyoxide-devel mailing list
      | . The IRC room and Matrix channel are bridged together.
    p
      | The project is also present on the fediverse: 
      a(href="https://fosstodon.org/@keyoxide") @keyoxide@fosstodon.org
      | .
    p
      | Announcements and project updates are published on the  
      a(href="https://blog.keyoxide.org") Keyoxide blog
      | .


  section
    h2 Fund the project
    p
      | The development of Keyoxide and the Decentralized Online Identity Proofs ecosystem is entirely funded by donations.
    p
      | The Keyoxide project was awarded a NGI Zero grant from the 
      a(href='https://nlnet.nl/') NLnet Foundation
      | .
    p
      | We rely on your support to keep working on Big Tech-independent secure online identity.
    p
      a.button.button--donate.button--opencollective(href='https://opencollective.com/keyoxide')
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12c2.54 0 4.894-.79 6.834-2.135l-3.107-3.109a7.715 7.715 0 1 1 0-13.512l3.107-3.109A11.943 11.943 0 0 0 12 0zm9.865 5.166l-3.109 3.107A7.67 7.67 0 0 1 19.715 12a7.682 7.682 0 0 1-.959 3.727l3.109 3.107A11.943 11.943 0 0 0 24 12c0-2.54-.79-4.894-2.135-6.834z"></path></svg>
        |  Donate via OpenCollective