extends templates/base.pug

block content
  if highlights.length > 0
    h2 Highlights
    .hcards.hcards--highlights
      each hl in highlights
        .card.card--small-profile
          p.name= hl.name
          p
            span.fingerprint= hl.fingerprint
            br
            span.details= hl.description
          .spacer
          p
            a(href=`/${hl.fingerprint}`) View profile
      - var n = 0
      while n < 3-highlights.length
        .card.card--small-profile-dummy
        - n++

  .demo
    .card.card--profile
      .claim
        .claim__main
          .claim__description
            p @alice@example.instance
          .claim__links
            p
              span Fediverse
              a(href="#") View account
              a(href="#") View proof
              a(href="#") Details
        .claim__verification.claim__verification--true ✔

  h2 About Keyoxide
  .hcards.hcards--features.hcards--max-3
    .card
      h3 Online identity
      p Establish an identity by verifiably linking your online accounts.
    .card
      h3 Decentralized
      p No central server or database. Control how your data is stored and accessed.
    .card
      h3 Privacy
      p No data is collected. Your data is yours and yours only.
    .card
      h3 Cryptography
      p Your online identity verifiably signed with widely-used OpenPGP.
    .card
      h3 Open Source
      p All Keyoxide projects are licensed under AGPL-3.0-or-later.
    .card
      h3 Transparent funding
      p Funded by donations. Keyoxide stands against VC and surveillance capitalism.


  h2 Links
  .hcards
    .card
      h3 Getting started
      p
        a(href='/') What is Keyoxide?
        br
        a(href='/') Getting started
        br
        a(href='/') Guides
        br
        a(href='/') FAQ

    .card
      h3 Utilities
      p
        a(href='/util/profile-url') Profile URL generator
        br
        a(href='/util/wkd') Web Key Directory URL generator
        br
        a(href='/util/qrfp') Fingerprint QR generator
