extends templates/base.pug

block js
  script(type='application/javascript' src='/static/openpgp.min.js' charset='utf-8')
  script(type='application/javascript' src='/static/doip.js' charset='utf-8')
  script(type='application/javascript' src='/static/scripts.js' charset='utf-8')

block content
  section.profile.narrow
    noscript
      p Keyoxide requires JavaScript to function.
    span#profileUid(style='display: none;') #{uid}
    span#profileServer(style='display: none;') #{server}
    span#profileMode(style='display: none;') #{mode}

    if (mode == 'sig')
      #profileSigInput.card
        form#form-generate-signature-profile(method='post')
          label(for="plaintext_input")  Please enter the raw profile signature below and press "Generate profile".
          textarea#plaintext_input(name='plaintext_input')
          input(type='submit', name='submit', value='Generate profile')

    #profileHeader.card.card--profileHeader

    #profileProofs.card
      if (mode == 'sig')
        //- p Waiting for input&mldr;
      else
        p Loading keys &amp; verifying proofs&mldr;
