extends templates/base.pug

block js
  script(type='application/javascript' src='/static/openpgp.min.js' charset='utf-8')
  script(type='application/javascript' src='/static/doip.js' charset='utf-8')
  script(type='application/javascript' src='/static/scripts.js' charset='utf-8')

block content
  section.narrow
    noscript
      p Keyoxide requires JavaScript to function.

    h1 Verify
    form#form-verify(method='post')
      h3 Signer
      label(for='modeSelect') Mode:
      include partials/key_selector

      h3 Signature
      textarea#signature(name='signature')

      h3 Result
      p#result
      p#resultContent
      input.bigBtn(type='submit' name='submit' value='VERIFY SIGNATURE')
