:root {
  --grey-500: hsl(0, 0%, 50%);
  --grey-600: hsl(0, 0%, 40%);
  --grey-700: hsl(0, 0%, 30%);
  --grey-900: hsl(0, 0%, 10%);
  --green-300: hsl(110, 45%, 70%);
  --green-400: hsl(110, 45%, 60%);
  --green-600: hsl(110, 45%, 40%);
  --red-400: hsl(10, 60%, 60%);
  --blue-500: hsl(201, 80%, 59%);
  --blue-700: hsl(201, 90%, 30%);
  --purple-50: hsl(250, 30%, 98%);
  --purple-100: hsl(250, 48%, 95%);
  --purple-200: hsl(250, 48%, 90%);
  --purple-300: hsl(250, 48%, 85%);
  --purple-400: hsl(250, 48%, 70%);
  --purple-500: hsl(250, 48%, 65%);
  --purple-600: hsl(250, 48%, 60%);
  --purple-700: hsl(250, 48%, 55%);
  --purple-900: hsl(250, 38%, 45%);
  --yellow-100: hsl(56, 100%, 95%);
  --yellow-200: hsl(56, 100%, 90%);
  --yellow-500: hsl(56, 100%, 65%);
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1.6rem 0 0;
  line-height: 1.6rem;
  font-family: sans-serif;
  color: var(--grey-900);
  /* background-color: var(--purple-100); */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.6rem 4.8rem;
  padding: 0.8rem;
  /* background-color: var(--purple-50); */
  border-radius: 16px;
}
header a.logo {
  width: 64px;
  margin: 0 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--purple-700);
}
header a.logo img {
  width: 100%;
}
header .container {
  display: flex;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
}
nav a.text {
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--purple-700);
  border-radius: 4px;
}
nav a.text:hover {
  color: #fff;
  background-color: var(--purple-500);
}
main {
  flex: 1;
  margin: 0 1.6rem;
}
footer {
  margin: 4.8rem 0 0;
  padding: 0 1.6rem 1.6rem;
  background-color: var(--purple-900);
  color: var(--purple-200);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.narrow {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
section.profile .card, .demo .card {
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 0 transparent;
}
section.profile p, .demo p {
  /* margin: 0.8rem 0; */
  font-size: 1.2rem;
}
.demo {
  margin: 9.6rem auto;
  font-size: 1.6rem;
}

.card {
  margin: 0 0 1.6rem;
  padding: 0 1.6rem;
  background-color: #fff;
  background-color: var(--purple-50);
  border: 2px solid var(--purple-200);
  box-shadow: 0 4px 12px var(--purple-100);
}
.card--profileHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* text-align: center; */
}
.card--profileHeader p, .card--profileHeader small {
  margin: 0 0 1.2rem;
}
.card--small-profile {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
  border-radius: 4px;
}
.card--small-profile-dummy {
  opacity: 0.5;
  border: 0;
  box-shadow: unset;
}
.card--small-profile .name {
  font-size: 1.4em;
  /* font-weight: bold; */
}
.card--small-profile p {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.card--small-profile a {
  display: block;
  padding: 0.4rem 0.8rem;
  /* color: #fff; */
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  border: solid 1px var(--blue-700);
  border-radius: 4px;
}
.card--small-profile a:hover {
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: var(--blue-700);
  color: #fff;
}
#profileName {
  font-size: 2rem;
  color: var(--grey-700);
}
#profileURLFingerprint {
  font-size: 1rem;
  margin: 0 0 1.2rem;
}

.hcards {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  margin-bottom: 1.6rem;
}
.hcards--features {
  text-align: center;
}
.hcards .card {
  margin: 0;
}
.hcards--col-1-2, .hcards--col-2-1 {
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}
.hcards--col-1-2 .card, .hcards--col-2-1 .card {
  grid-column: 1 / 2;
}
@media screen and (min-width: 1024px) {
  .hcards--max-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hcards--col-1-2, .hcards--col-2-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 720px) {
  .hcards--col-2-1 .card:nth-of-type(1) {
    grid-column: 1 / -2;
  }
  .hcards--col-2-1 .card:nth-of-type(2) {
    grid-column: -2 / -1;
  }
  .hcards--col-1-2 .card:nth-of-type(1) {
    grid-column: 1 / 2;
  }
  .hcards--col-1-2 .card:nth-of-type(2) {
    grid-column: 2 / -1;
  }
}
@media screen and (max-width: 640px) {
  header {
    flex-direction: column;
  }
  header .spacer {
    display: none;
  }
  header a.logo {
    margin-bottom: 1.6rem;
    order: -1;
  }
}
.spacer {
  flex: 1;
}

.warning {
  padding: calc(0.8rem - 2px) 0.8rem;
  background-color: var(--yellow-200);
  border: solid 2px var(--yellow-500);
}
.warning p:first-of-type {
  margin-top: 0;
}
.warning p:last-of-type {
  margin-bottom: 0;
}

.claim {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.8rem 0;
  padding: 0.8rem 1.2rem;
  background-color: var(--purple-100);
  border-radius: 8px;
}
.claim p {
  margin: 0;
}
.claim .claim__main {
  flex: 1;
}
.claim .claim__description p {
  font-size: 1.4rem;
  line-height: 2rem;
}
.claim .claim__links p, p.subtle-links {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  color: var(--grey-700);
}
.claim .claim__links a, .claim .claim__links span, p.subtle-links a {
  font-size: 1rem;
  margin: 0 10px 0 0;
  color: var(--grey-700);
}
/* p.subtle-links a:first-of-type {
  margin: 0;
} */
.claim .serviceProvider {
  color: var(--grey-500);
}
.claim .claim__verification {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--red-400);
  color: #fff;
  font-size: 2rem;
  user-select: none;
}
.claim .claim__verification--true {
  background-color: var(--green-400);
}
@media screen and (max-width: 640px) {
  .claim .claim__description p {
    font-size: 1.2rem;
  }
  .claim .claim__links a, p.subtle-links a {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  .claim .claim__description p {
    font-size: 1rem;
  }
  .claim .claim__verification {
    min-width: 36px;
    height: 36px;
    font-size: 1.6rem;
  }
}

/* .demo {
  text-align: center;
  margin: 9.6rem 0;
  font-size: 1.6rem;
}
.demo .claim {
  margin: 1.6rem 0;
} */

.avatar {
  display: inline-block;
  min-width: 96px;
  max-width: 128px;
  /* margin-top: 1.6rem; */
  text-align: center;
}
.avatar img {
  width: 100%;
  border-radius: 24px;
}

.buttons {
  /* margin: 2.4rem 0; */
  margin: 1.2rem 0;
}
.buttons a {
  display: inline-block;
  margin-right: 0.8rem;
  padding: 6px 24px;
  background-color: #eaeaea;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 32px;
}
.buttons a:hover {
  background-color: #ccc;
}
.modes {
    display: none;
}
.modes.modes--visible {
    display: block;
}

h1 {
  font-size: 1.6em;
  margin: 3.2rem 0 1.6rem;
  font-weight: normal;
  color: var(--purple-500);
  cursor: default;
}
h2 {
  font-size: 1.4em;
  margin: 3.2rem 0 1.6rem;
  font-weight: normal;
  color: var(--purple-500);
  cursor: default;
}
h2 small {
  margin-left: 0.8rem;
  padding: 3px 6px;
  background-color: var(--purple-400);
  color: #fff;
  border-radius: 4px;
}
h3 {
  margin: 1.6rem 0;
  font-size: 1.3em;
  line-height: 1.6rem;
  color: var(--grey-700);
  font-weight: normal;
  /* text-align: center; */
  cursor: default;
}
h3 small {
  margin-left: 0.8rem;
  padding: 3px 6px;
  background-color: var(--purple-400);
  color: #fff;
  border-radius: 4px;
}
h4 {
  margin: 1.6rem 0;
  font-size: 1em;
  line-height: 1.6rem;
  color: var(--grey-600);
  /* color: var(--purple-700); */
  font-weight: bold;
  cursor: default;
}
h4 small {
  margin-left: 0.8rem;
  padding: 3px 6px;
  background-color: var(--purple-400);
  color: #fff;
  border-radius: 4px;
}
p {
  margin: 1.6rem 0;
}
p.warning {
  padding: 8px;
  background-color: #fffadc;
  border: solid 1px #ffeea8;
}
a {
  color: var(--blue-700);
}
ul {
  padding-left: 1em;
  list-style: '- ';
}
/* .bg--flare {
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
} */
main h1:first-of-type {
  margin-top: 1.6rem;
}
.long_form h2 {
  /* margin-top: 3.2rem; */
  /* font-size: 1rem; */
  /* font-weight: bold; */
  text-align: left;
  /* color: var(--grey-700); */
}
footer h1 {
  margin-bottom: 0.8rem;
  color: var(--purple-200);
  font-size: 1.2rem;
  font-weight: bold;
  /* border-bottom: solid 1px var(--purple-200); */
}
footer a {
  color: var(--purple-100);
}

code {
  padding: 2px 4px;
  background-color: var(--purple-100);
  border: 1px solid var(--purple-500);
}
pre {
  padding: 8px 12px;
  background-color: var(--purple-100);
  border: 1px solid var(--purple-500);
  overflow-x: auto;
  line-height: 1.2rem;
  font-size: 1rem;
}
pre code {
  padding: 0;
  background-color: 0px;
  border: 0px;
}

textarea {
  width: 100%;
  height: 128px;
  resize: vertical;
  font-size: 0.9rem;
}

form {
  margin: 0 0 5.6rem;
}
form label {
  margin: 0 8px 0 0;
}
form .modesContainer {
  margin: 16px 0;
}
form .modesContainer input {
  margin: 0 8px 0 0;
}
form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  border: solid 1px var(--blue-700);
  border-radius: 4px;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: var(--blue-700);
  color: #fff;
}

dialog {
  width: 100% !important;
  max-width: 800px !important;
  padding: 0 !important;
  word-wrap: anywhere;
}
dialog > div {
  padding: 1em;
}
dialog form[method="Dialog"] {
  margin: 1em 0 0;
}
dialog form[method="Dialog"] input {
  width: auto;
}
dialog p {
  font-size: 1rem !important;
  margin: 1rem 0;
}
dialog p:first-of-type {
  margin-top: 0;
}
